*{
  box-sizing: border-box;
}
/* Header */
.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: .75;
}
header .navbar{
  background-color: gray;
  border: 2px solid black;
  height: 80px;
}
.navbar .container {
  background-color: grey;
  margin-left:0px;
  margin-right:0px; 
}

.navbar-brand button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
#collapsable-nav{
  width:108%; 
}
.navbar-brand {
  padding-top: 25px;
}
#nav-list {
  margin-top: 0px;
  margin-bottom:0px;
  background-color: white;
}
#nav-list a {
  color: black;
  text-align: center;
  border: 1px solid black;  
}
#nav-list a:hover {
  background: white;
  color: red;
}
.container button.navbar-toggle, .container .icon-bar {
  border: 1.5px solid black;
}
#main-content{
  font-weight: bold;  
}
#menu-chicken , #menu-beef , #menu-sushi{
  background-color: grey;
  height: 1500px;
  border-radius: 15px;
  margin-bottom: 45px;
  clear: both;
}
h2{
  margin-top:15px;
  margin-bottom: 50px;
  overflow:auto;
}
h3{
  padding-top: 20px;
}
p{
  padding: 20px;

}
/* end of header */